<div class="make_fast">
    <div class="list">
        <h1 class="item item-divider">Featured News</h1>
    </div>
    <div class="card" ng-repeat="new in news">
        <div class="item item-text-wrap">
            <h2 class="title">{{new.title}}</h2>
            <div ng-click="$root.openLink('{{new.link}}')" >
                <img ng-src="{{new.featured_image.guid}}" class="news_image" ng-show="new.featured_image.guid" err-src="img/kcl-placeholder.png" />
            </div>
            <span ng-bind-html="new.excerpt"></span>
        </div>
    </div>
</div>

